@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', Helvetica, sans-serif;
	background: #1c1f24;
	color: #fff;
}

form {
	width: 90%;
	margin: 0 auto;
}

input {
	width: 100%;
	margin-bottom: 5px;
	padding: 10px;
	background: #282b30;
	border: 1px #53565a solid;
	color: #fff;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 16px;
}

input[type=submit] { background: #494c50; }

#navbar {
	width: 100%;
	height: 59px;
	border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	background: #282b30;
}

	#title {
		display: inline-block;
		line-height: 58px;
		margin-left: 4px;
		padding-left: 50px;
		font-size: 22px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		background: url('images/logo.png') no-repeat left 60%;
	}
	
	@media screen and (max-width: 500px) {
		#title { padding-left: 1px; background: none; }
	}
	
	#buttons {
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background: #282b30;
		white-space: nowrap;
		border-right: 1px #1C1F24 solid;
	}
	
		#buttons img {
			padding: 16px;
			border-left: 1px #1C1F24 solid;
			cursor: pointer;
		}

#spacer { height: 70px; }

#contents, #upload {
	width: 100%;
	padding-bottom: 40px;
	line-height: 150%;
}

#upload { display: none; }

.sound {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	clear: both;
	border-top: 1px #53565a solid;
	border-bottom: 1px #53565a solid;
	background: #282b30;
}

	.description, .user, .playing {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;
		top: 1px;
	}
	
	.description {
		font-size: 18px;
		font-weight: 400;
	}

	.user {
		font-size: 16px;
		font-weight: 300;
	}
	
	.description:first-letter, .user:first-letter { text-transform: uppercase; }

	img.userpic {
		width: 75px;
		height: 75px;
		float: left;
		margin: 5px;
		border: 1px black solid;
	}

	.playing {
		display: none;
		height: 22px;
		line-height: 100%;
		padding-left: 20px;
		font-weight: 400;
		background: url('images/playing.svg') 1px 1px no-repeat;
	}

.sound.selected {
	border-top: 4px #53565a solid;
	border-bottom: 4px #53565a solid;
}