@font-face {
	font-family: 'Archistico';
	src: url("archistico.woff2") format("woff2");
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 300;
	src: url('opensans-300.woff2') format('woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	src: url('opensans-400.woff2') format('woff2');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	user-select: none;
}

html, body {
	width: 100%;
	font-family: 'Open Sans', Helvetica, sans-serif;
	background: #1c1f24;
	color: #fff;
}

form {
	width: 90%;
	margin: 0 auto;
}
	#configform { text-align: center }
	.wideform { padding-bottom: 20px }
	.wideform button, .wideform input:not([type=checkbox]) { width: 100% }

h3 {
	padding-bottom: 10px;
	text-align: center;
}

button, input {
	margin: 5px 0 10px 0;
	padding: 10px;
	background: #282b30;
	border: 1px #53565a solid;
	color: #fff;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 16px;
	outline: none;
	cursor: pointer;
}
	button, .sound input { width: 40% }
	button.navbtn {
		display: block;
		width: 80%;
		margin: 20px auto;
	}
	button[disabled], input[type=button][disabled] {
		color: darkgray;
		filter: grayscale(100%);
		cursor: default;
	}
	button.recording { border-color: red }

input[type=submit] {
	background: #494c50;
	cursor: pointer;
}
	input:focus,
	#buttons img:hover, button:not([disabled]):hover, input[type=button]:hover,
	.bottomnav > div:hover, .sound:hover { background: #2b2e33 }
	input[type=submit]:focus,
	input[type=submit]:hover { background: #4b4e52 }
	#recform input[type=button], #recform input[type=submit] { width: calc(50% - 2.5px) }
	#recform input[type=submit] { float: right }

label { margin: 5px }

#navbar {
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	margin-bottom: 20px;
	color: white;
	background: #282b30;
	border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
	z-index: 1;
}

	#title {
/*		padding-left: 58px;*/
		font-size: 22px;
		line-height: 58px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
/*		background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text x="-.1em" y=".9em" font-size="90">📢</text></svg>') no-repeat 10px/42px;*/
		cursor: pointer;
	}
		#title:before {
			margin: 0 10px;
			padding: 5px;
			content: 'SB';
			vertical-align: bottom;
			font-family: Archistico;
			font-size: 28px;
			color: lightgreen;
			border: 1px solid lightgreen;
			border-radius: 50%;
			animation: gradient 10s ease infinite;
		}
			@keyframes gradient { 50% { filter: hue-rotate(180deg) }}
/*
	@media screen and (max-width: 400px) {
		#title { padding-left: 1px; background: none; }
	}
*/
	#buttons {
		height: 58px;
		position: absolute;
		top: 0;
		right: 0;
		background: #282b30;
		white-space: nowrap;
		border-right: 1px #1c1f24 solid;
	}

		#buttons img {
			padding: 16px;
			border-left: 1px #1c1f24 solid;
			cursor: pointer;
		}

		#outputbar {
			display: none;
			width: 100%;
			padding: 2px 0 3px 0;
			text-align: center;
			background: #494c50;
			border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
			cursor: pointer;
		}
			body.remoteplay #outputbar { display: block }

		#clientform {
			margin-top: 5px;
			text-align: center;
		}
			#clientform input[type=password], .sound input[type=password] {
				margin-right: 2.5px;
				background: #1c1f24;
			}
			body.clientregister #clientform { display: block }

#contents, #recpanel {
	width: 100%;
	line-height: 150%;
	transition: opacity .4s ease;
	overflow-anchor: none;
}
	#contents.disabled {
		opacity: .1;
		pointer-events: none;
	}
	#contents > div { animation: drop-in .4s ease-out }
		@keyframes drop-in { from { transform: translateY(100vh) }}
	#contents > div > img { animation: drop-in-left .5s ease-out }
		@keyframes drop-in-left { from { transform: translateX(-100vw) }}

#recpanel {
	position: absolute;
	top: 0;
	padding-top: 80px;
	background: #1c1f24;
	border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
	transform: translateY(-100%);
	transition: transform .4s ease;
}
	#recpanel.shown { transform: none }
	body.remoteplay #recpanel { padding-top: 100px }
	body.remoteplay.clientregister #recpanel { padding-top: 160px }

#credits { padding: 0 10px }
#credits h2 {
	padding-top: 20px;
	font-size: 22px;
}
	#credits h2:first-of-type { padding-top: 0 }
#credits a { color: darkgrey }
#credits div {
	padding: 10px 36px;
	background: none no-repeat left center;
}
#credits p { padding-top: 10px }

.bottomnav {
	margin-top: 42px;
	text-align: center;
}
	.bottomnav:after {
		display: block;
		height: 20px;
		content: '';
	}
	.bottomnav > div { margin-top: 20px }
	body.credits #bottomnav { display: none }

.bottomnav > div, .sound {
	width: 100%;
/*	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
*/	clear: both;
	border-top: 1px #53565a solid;
	border-bottom: 1px #53565a solid;
	background: #282b30;
	cursor: pointer;
}

	.description, .user, .playing {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;
		top: 1px;
	}

	.description {
		font-size: 18px;
		font-weight: 400;
	}

	.user {
		margin-bottom: 2px;
		font-size: 16px;
		font-weight: 300;
	}

	.description:first-letter, .user:first-letter { text-transform: uppercase; }

	img.userpic {
		width: 75px;
		height: 75px;
		float: left;
		margin: 5px;
		border: 1px black solid;
		border-radius: 6px;
	}

	.playing {
		display: none;
		height: 22px;
		font-size: 15px;
		line-height: 100%;
		padding-left: 20px;
		font-weight: 400;
		background: url('images/playing.svg') 1px 1px no-repeat;
	}

.sound.selected {
	border-top: 3px #53565a solid;
	border-bottom: 3px #53565a solid;
}

.error { border-color: red }

.hidden { display: none }